// Place all the styles related to the public/Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual {
    background-image: image-url("red-mountain.jpg");
    background-size: cover;
    width: 100%;
    height: 350px;
    text-align: center;
}

.comic-index {
    display: flex;
    flex-wrap: wrap;
}

html, body {
    position: relative;
    height: 100%;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

.top-section {
    margin: 20px 0;
}

// スライドショー
.slick-next {
    right: 20px !important;
    z-index: 100;
 }

.slick-prev {
    left: 20px !important;
    z-index: 100;
 }

.slider-box {
    text-align: center;
}

#slider {
    text-align: center;
    font-size: 18px;
    // width: 600px;

    /* テキストを中央揃え */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.comic-slider {
    width: 1000px;
    height: 300px;
    padding: 20px 30px 20px 0;
    margin: 20px 0 20px 100px;
}

.rate-stars {
    display: flex;
    justify-content: center;
}

.rate-text {
  font-size: 24px;
}

#review-slider {
    background: #eee;
    width: 600px;
    height: 350px;
}

.review-slider {
    text-align: centers;
}

.top-comic-link {
    text-align: center;
    margin: 200px 0 0 0;
}

.top-comic-path {
    color: #333;
    font-size: 36px;

}

.top-comic-path:hover {
    color: #FF8C00;
    text-decoration: underline;
}

//Aboutページ
.about-all-box {
    text-align: center;
}

.about-main-visual {
    text-align: center;
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.about-box-second {
    text-align: center;
    margin-left: 320px;
}

.about-text-1 {
    margin: 10px 0 50px 0;
    font-size: 20px;
}

.about-list {
    text-align: center;
    padding: 0 0 30px 80px;
    margin: 20px 0;
    border-bottom: 1px solid #bbb;
}

.about-text-2 {
    font-size: 20px;
    margin: 20px 0 30px 300px;
}

.about-item {
    text-align: center;
    margin: 0 20px 20px 20px;
}

.search-comics {
    text-align: center;
}

.search-count {
    font-size: 20px;
}

.category-search {
    display: flex;
    flex-wrap: wrap;
}

.search-item {
    margin: 20px;
}

.rate-number {
    font-size: 18px;
}