<!-- 管理人のTopページ -->
<div class="container">
  <div class="row">
    <div class="">
      <h3>管理者用</h3>
      <div>
        <%= link_to "コミック新規登録", search_admin_comics_path %>
      </div>
      <div>
        <%= link_to "コミック一覧", admin_comics_path %>
      </div>
      <div>
        <%= link_to "カテゴリー登録/一覧", admin_categories_path %>
      </div>
    </div>
  </div>
 </div>