
  <!--いいね機能-->
  <% if review.liked_by?(current_user) %>
    <p>
      <%= link_to comic_review_likes_path(review_id: review), method: :delete do %>
        <p class="">❤︎<%= review.likes.count %></p>
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to comic_review_likes_path(review_id: review), method: :post do %>
        <p class="">︎♡<%= review.likes.count %></p>
      <% end %>
    </p>
  <% end %>