/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */

// Bootstrapを読み込ませるための3行
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
// bxsliderを読み込ませるため
// @import "bxslider";
// slickを読み込ませるため
@import "slick-theme";
@import "slick";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%); //グラデーション
}

.notification:not(:last-child){
  margin-bottom: 0;
}

header {
  // position: fixed; //上部に固定
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #444444;
  border-radius: 0 0 40px 40px;
  // border-bottom-left-radius: 50% 20%;
  // border-bottom-right-radius: 50% 20%;
}

.main {
  width: 100%;
  height: 100%;
  min-height: 100%;
  height: auto !important;
  position: relative;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #444444;
  text-align: center;
  position: fixed;
  border-radius: 40px 40px 0 0;
  position: absolute; //下に位置固定
  // bottom: 0;
  margin-top: auto;
}

.footer-box {
  padding: 38px 0;
}

.foot-text {
}

.head-path-box {
  list-style: none;
  display: flex;
}

.admin-head-path, .default-head-path, .user-head-path {
  color: #fff;
  margin: 30px 30px 0 30px;
}

.user-img-path {
  color: #fff;
  margin: 30px 30px 0 30px;
}

.admin-head-path:hover, .default-head-path:hover, .user-head-path:hover, .user-img-path:hover {
  color: #FF8C00;
  text-decoration: underline;
}

.head-logo {
  text-align: left;
}

.navbar {
  padding: 0 16px;
}

.navbar-nav {
  width: 100%;
}

.nav-item {
  // margin-top: 10px;
  text-decoration: none;
  border-left: 0.5px solid #666666;
  height: 80px;
}

.category-area {
  // background: ;
  padding: 20px 30px;
  border-top: 1px solid #bbb;
}

.category-list {
  height: 400px;
  margin: 50px 0 20px 0;
  padding: 0 0 30px 0;
}

.category-box {
  display: flex;
  flex-wrap: wrap;

}

.category-name {
  height: 120px;
  width: 120px;
  margin: 20px;
  background: #FF9872;
  // background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
  // background-blend-mode: normal, lighten, soft-light;
}

.category-text {
  color: #fff;
  text-align: center;
  margin-top: 40px;
}

.category-text:hover {
  text-decoration: underline;
  color: #666;
}

// スライドショー
.slick-next {
    right: 10px !important;
    z-index: 100;
 }

.slick-prev {
    left: 10px !important;
    z-index: 100;
 }